<div class="btn-group pull-right">
<button type="button" class="btn btn-default">操作</button>
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
    <!-- 其中路由用到的?id=post._id是需要jQuery的 -->
  <li><a href="/posts/edit?id=<%= post._id %>">编辑</a></li>
  <!-- <li><a href="/posts">编辑</a></li> -->
</ul>
</div>

<h1><%= post.title %></h1>
<div class="">
    <%= post.content %>
    <!-- <%- post.content %> -->
</div>
<div class="">
    <!-- <%= post.content %> -->
    <%- post.content %>
</div>
